<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Banking Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    	crossorigin="anonymous">


</head>
<body>

<div class="container my-2">
<h1>Transaction Details </h1>
<a th:href = "@{/showNewTransactionForm}" class="btn btn-primary btn-sm mb-3"> Insert Transaction </a>
<a th:href = "@{/TransacDetails}" class="btn btn-primary btn-sm mb-3"> Get Transaction Details </a>
	<table border="1" class= "table table-striped table-responsive-md">
		<thread>
			<tr>
				<th> Transaction_Id </th>
				<th> Amount </th>
				<th> Transac_Date </th>
				<th> Sender </th>
				<th> Receiver </th>
				<th> Transac_Type </th>
				<th> Accnt_No </th>
				
				
			</tr>
		</thread>
		<tbody>
			<tr th:each="transaction : ${listTransactions}">
				<td th:text="${transaction.Transaction_Id}"></td>
				<td th:text="${transaction.Amount}"></td>
				<td th:text="${transaction.Transac_Date}"></td>
				<td th:text="${transaction.Sender}"></td>
				<td th:text="${transaction.Receiver}"></td>
				<td th:text="${transaction.Transac_Type}"></td>
				<td th:text="${transaction.Accnt_No}"></td>
			</tr>
		</tbody>
	</table>

</div>

</body>
</html>