<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Online Banking Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Online Banking Management System</h1>
        <hr>
        <h2>Update Account</h2>

        <form action="#" th:action="@{/saveAccount}" th:object="${account}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{Accnt_No}" />

            <input type="text" th:field="*{Accnt_Type}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{Accnt_Balance}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{iFSC_Code}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{Opening_Date}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{Branch_Name}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{Branch_Code}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{Cust_ID}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{Cust_NomineeName}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Update Account</button>
        </form>

        <hr>

        <a th:href="@{/}"> Back to Account List</a>
    </div>
</body>

</html>